$labelOffset: 20px;
$textInputPaddingTopBottom: 10px;

$labelOffsetMobile: 10px;
$textInputPaddingTopBottomMobile: 5px;

.form-field {
  padding: $labelOffset 0 30px 0;
  position: relative;
  width: 100%;
  display: block;
  font-size: 17px;
  color: $third-color;

  &--error {
    display: none;
    position: absolute;
    bottom: 13px;
    font-size: 13px;
    color: $sixth-color;
  }

  &--label {
    position: absolute;
    display: flex;
    align-items: center;
    top: $labelOffset + $textInputPaddingTopBottom;
    left: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    cursor: text;

    i {
      font-size: 13px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13px;
      height: 13px;
      border-radius: 13px;
      background-color: $third-color;
      margin-left: 14px;
      cursor: pointer;
    }
  }

  &.form-field--select select,
  &.form-field--input input {
    &:invalid {
      outline: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
      color: $secondary-color;
      padding-bottom: $textInputPaddingTopBottom - 1;
      border-bottom-width: 2px;
      border-bottom-color: $secondary-color;

      &~.form-field--label {
        font-size: 13px;
        color: $third-color;
      }

      &~.dropdown {
        height: 180px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-out height, step-start box-shadow 0.2s;
        -moz-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
        -webkit-transition: 0.2s ease-out height, step-start box-shadow 0.2s;
      }

    }
  }

  &.form-field--invalid {
    .form-field--error {
      display: inline;
    }

    input {
      border-bottom-color: $sixth-color;

      &:focus {
        border-bottom-color: $sixth-color;
      }
    }

    select {
      @extend input;
    }
  }

  &--input {
    input {
      padding: $textInputPaddingTopBottom 0 $textInputPaddingTopBottom 0;
      display: block;
      width: 100%;
      border: none;
      font-size: 17px;
      color: $secondary-color;
      border-bottom: 1px solid $third-color;
      outline: none;
      text-transform: uppercase;

      &:not([value=""]),
      &:focus {
        &~.form-field--label {
          top: $labelOffset - ($textInputPaddingTopBottom + 5);
          font-size: 13px;
        }
      }
    }
  }

  &--select {
    select {
      padding: $textInputPaddingTopBottom 0 $textInputPaddingTopBottom 0;
      display: block;
      width: 100%;
      border: none;
      font-size: 17px;
      color: $secondary-color;
      border-bottom: 1px solid $third-color;
      outline: none;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      background-color: transparent;
      border-radius: 0;
      appearance: none;
      -webkit-appearance: none;

      &[value=""],
      &:focus {
        &~.form-field--label {
          top: $labelOffset - ($textInputPaddingTopBottom + 5);
          font-size: 13px;
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 40px;
      right: -10px;
      padding: 5px;
      box-shadow: 1px -1px 0 1px $primary-color inset;
      -webkit-box-shadow: 2px -2px $primary-color inset;
      border: solid transparent;
      border-width: 0 0 2rem 2rem;
      transition: 0.2s;
      transform: rotate(-45deg);
    }
  }
}

.dropdown {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  background: #FFFFFF;
  color: #000000;
  z-index: 1000;

  transition: 0.2s ease-in height, step-end box-shadow 0.2s;
  -moz-transition: 0.2s ease-in height, step-end box-shadow 0.2s;
  -webkit-transition: 0.2s ease-in height, step-end box-shadow 0.2s;

  &.dropdown-open {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  li {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $fifth-color;
    }

    &.dropdown-selected {
      background-color: $fifth-color;
    }
  }
}

@media only screen and (max-width: 736px) {
  .form-field {
    padding: $labelOffsetMobile 0 30px 0;

    &--label {
      top: $labelOffsetMobile + $textInputPaddingTopBottomMobile;
    }

    &--error {
      font-size: 11px;
    }

    input {
      padding: $textInputPaddingTopBottomMobile 0 $textInputPaddingTopBottomMobile 0;

      &:focus {
        padding-bottom: $textInputPaddingTopBottomMobile - 1;
      }

      &:not([value=""]),
      &:focus {
        &~.form-field--label {
          top: $labelOffsetMobile - ($textInputPaddingTopBottomMobile + 10);
          font-size: 13px;
        }
      }
    }
  }
}